.cardListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  .menuContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;

    @media screen and (max-width: 1400px) {
      width: 50%;
    }

    @media screen and (max-width: 1090px) {
      width: 60%;
    }

    @media screen and (max-width: 750px) {
      width: 70%;
    }

    @media screen and (max-width: 750px) {
      width: 80%;
    }

    @media screen and (max-width: 750px) {
      width: 95%;
    }
  }


  .itemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .item {
      display: flex;
      justify-content: center;
      margin: 100px;

      @media screen and (max-width: 1400px) {
        margin: 50px;
      }

      @media screen and (max-width: 1090px) {
        margin: 30px;
      }

    }
  }
}